<header class="container">
  <a [href]="baqend">
    <img [src]="angularbaqendLogo" style="max-width: 400px; margin: auto; display: block">
  </a>
</header>

<nav class="container">
  <ul class="nav nav-pills">
    <li>
      <a [routerLink]=" ['./signup'] " routerLinkActive="active">Signup</a>
    </li>
    <li>
      <a [routerLink]=" ['./chats'] " routerLinkActive="active">Chats</a>
    </li>
  </ul>
</nav>
<main class="container">
  <router-outlet></router-outlet>
</main>

<footer class="container">
  <span>Angular + Baqend by <a [href]="baqend">@Baqendcom</a></span>
</footer>
