<div class="row">
  <div class="col-sm-offset-3 col-sm-6 col-1">
    <div class="panel panel-default">
      <div class="panel-heading">User registration example</div>
      <div class="panel-body">
        <form #form="ngForm">
          <div class="row">
            <div class="form-group col-lg-12">
              <label>Username</label>
              <input type="text" [(ngModel)]="user.name" class="form-control" name="name" required>
            </div>
            <div class="form-group col-lg-12">
              <label>Password</label>
              <input type="password" [(ngModel)]="user.password" class="form-control" name="password" required>
            </div>
          </div>
          <div class="pull-right">
            <button class="btn btn-info" type="button" (click)="register()" [disabled]="!form.valid">Register</button>
            <button class="btn btn-info" type="button" (click)="logIn()" [disabled]="!form.valid">Log In</button>
          </div>
        </form>
      </div>
    </div>
    <div class="alert alert-danger" role="alert" [hidden]="!error">{{error}}</div>
  </div>
</div>
